/* Sprites */

.sprite-pallet {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') 0 0;
}

.sprite-guitar {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -40px 0;
}

.sprite-mask {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -80px 0;
}

.sprite-controller {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -120px 0;
}

.sprite-mic {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -160px 0;
}

.sprite-quill {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -200px 0;
}

.sprite-cup {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -240px 0;
}

.sprite-utensils {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -280px 0;
}

.sprite-milk {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url('images/sprite.png') -320px 0;
}
