@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 750px) {

    /* Reduce padding in main element */
    main { padding: 5px; }

    /* Fix nav bar */
    nav { height: 35px; }
    nav ul { padding-top: 7px; }
    nav li { display: inline; }
    nav li a { color: white; }

    /* Add extra spacing between menu items */
    .menu-item { 
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
    .title-item h2 { font-size: 1em; }

    /* Fix add on item */
    .menu-item.additional-items h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        float: none;
    }

    /* Reduce footer header size and add some padding */
    footer h2 { 
        font-size: 1.4em;
        padding-top: 3px; 
        padding-bottom: 3px;
    }

    /* Reduce size of footer text to avoid awkward wrapping */
    footer li { font-size: 0.85em; }

    /* Add padding to bottom of footer */
    footer { padding-bottom: 5px; }
} 
