#coffeehouse {
  background-image: url("https://otherfiles-cbm.s3-us-west-2.amazonaws.com/CoffeeShopImage.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
  animation-name: background-pan;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
 
@keyframes background-pan {
  from { background-position: left; }
  to { background-position: right; }
}
