#top-announcement {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: yellow;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black; 
}
