/* For small screens like phones */
@media only screen and (max-width: 1000px) {
   background-color: darkgray;
    color: white;
    font-size: 16px;
}

/* There are, of course, more elements than color and font-size, but      we are just using these two attributes for our example */

/* For larger tablets, laptops, and desktops */
@media only screen and (min-width: 1000px) {
    background-color: darkgray;
    color: white;
    font-size: 12px;
}

/* For the printed page */
@media print {
    background-color: white;
    color: black;
    font-size: 12px;
}
