#linear-gradient {
    width: 500px;
    height: 150px;
    background-color: black;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet); 
}


#linear-gradient p {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: white;
}
